.row{
  margin-top: 3rem !important;
  row-gap: 1.5rem !important;
}

.row > div{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

span{
  padding-top: 0 !important;
}


.card p{
  margin-bottom: 0 !important;
}

.rating{
  margin-bottom: 0.5rem !important;
}

.card-title a{
  text-decoration: none;
  color: #000;
}

.card-title a:hover{
  color: var(--main-color);
}

.btn-card{
  background-color: var(--main-color) !important;
  width: 100% !important;
}

.btn-card:hover{
  color: #fff !important;
}