:root{
  --main-color:#ffa600;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: "Roboto", sans-serif !important;
  background-color: #e8e8e8 !important;
}

img{
  width: 200px;
  height: 200px;
}